/* Custom Variables */

:root {
    --color-white: #FFFFFF;
    --white-font: #FFF;
    --black-font: #071629;
    --accent-color: #FF6565;
    --border: solid 2px red;
}

/* Fonts */
@font-face {
    font-family: sans-pro;
    src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: sans-pro-light;
    src: url(../fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: sans-pro-extra-light;
    src: url(../fonts/SourceSansPro-ExtraLight.otf);
}

/* Background */

body {
    background-blend-mode: normal, color;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0;
    margin: 0px;
    width: 100%;
    background-color: #071629;
}

/* Header Styles */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.68rem;
}

.logo {
    width: 10.06rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-element {
    /* sytling for the words */
    color: var(--white-font);
    font-family: sans-pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle-element {
    margin-left: 2.56rem;
    margin-right: 2.56rem;
}

/* Container A */
.container-A {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin: 19.5rem 0 0 0;
    padding: 0;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-container .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin: 0;
    padding: 0;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 2.5rem;

    width: 162px;
    height: 44px;
    flex-shrink: 0;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 14px;
    font-weight: 700;
    border-radius: 22px;
    background-color: var(--accent-color);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);;
}

.title-container .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 39.81rem;

    margin-top: 4.06rem;
    margin-bottom: 7.18rem;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


/* Container B */
.container-B {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    background-color: var(--color-white);
}

.container-B .paragraph {
    color: var(--black-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 12.5rem;
    max-width: 39.81rem;
}

.container-B1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.B1-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--black-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 6.06rem;
    margin-left: 1.68rem;
    margin-right: 1.68rem;
    margin-bottom: 6.87rem;
}

.B1-image-text .icon {
    margin-bottom: 3rem;
}

.B1-image-text .text {
    max-width: 12.93rem;
}

/* Container C */
.container-C {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    background-blend-mode: normal, color;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    flex: 0;
    margin: 0px;
    background-color: #071629;
}

.container-C .paragraph {
    margin-top: 13.81rem;
    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 39.81rem;
}

.shape-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 3.5rem;
    margin-bottom: 4.93rem;
}

.shape-container .shape {
    margin-left: 2.375rem;
    margin-right: 2.375rem;
}

/* Container D */
.container-D {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    background-color: var(--color-white);
}

form {
    height: 335px;
    width: 373px;
    margin-top: 110px;
    margin-bottom: 130px;
    border: var(--border);
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.footer-logo-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    margin-top: 5.73rem;
    margin-bottom: 3rem;
}

.copyright {
    margin-bottom: 2.43rem;
    color: var(--white-font);
    font-family: sans-pro;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.3517;
}