/* Custom Variables */

:root {
    --color-white: #FFFFFF;
}

/* Fonts */

/* Background */

body {
    /* display: flex; */
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    background-color: var(--color-white);
}

/* Header Styles */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.logo {
    
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.nav-element {
    /* sytling for the words */
}

/* Container A */
.container-A {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}


/* Container B */
.container-B {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

/* Container C */
.container-C {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

/* Container D */
.container-D {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.footer-logo-links {
    display: flex;
    flex-direction: row;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.footer-logo-links .logo {

}

.footer-logo-links .social-media {

}

.copyright {

}