/* Custom Variables */

:root {
    --color-white: #FFFFFF;
    --white-font: #FFF;
    --black-font: #071629;
    --accent-color: #FF6565;
    --border: solid 2px red;

    --phone-padding: 0 1rem 0 1rem;
}

/* Fonts */
@font-face {
    font-family: sans-pro;
    src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: sans-pro-light;
    src: url(../fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: sans-pro-extra-light;
    src: url(../fonts/SourceSansPro-ExtraLight.otf);
}

/* Background */

body {
    background-blend-mode: normal, color;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0;
    margin: 0px;
    width: 100%;
    background-color: #071629;
}

/* Header Styles */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.68rem;
}

.hamburger {
    display: none;
}

.logo {
    width: 10.06rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-element {
    /* sytling for the words */
    color: var(--white-font);
    font-family: sans-pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-element a:hover {
    opacity: 0.9;
}

.middle-element {
    margin-left: 2.56rem;
    margin-right: 2.56rem;
}

/* Container A */
.container-A {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin: 19.5rem 0 0 0;
    padding: 0;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-container .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin: 0;
    padding: 0;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 2.5rem;

    width: 162px;
    height: 44px;
    flex-shrink: 0;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 14px;
    font-weight: 700;
    border-radius: 22px;
    background-color: var(--accent-color);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);;
}

.title-container .button:hover {
    color: var(--accent-color);
    opacity: 0.9;
}

.title-container .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 39.81rem;

    margin-top: 4.06rem;
    margin-bottom: 7.18rem;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


/* Container B */
.container-B {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    background-color: var(--color-white);
}

.container-B .title {
    color: var(--black-font);
    font-family: sans-pro;
    font-size: 32px;
    font-weight: 600;

    margin-top: 6.87rem;
}

.container-B .paragraph {
    color: var(--black-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 2.5rem;
    margin-bottom: 6rem;
    max-width: 39.81rem;
}

.container-B1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.B1-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--black-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 6rem;
}

.B1-image-text .icon {
    margin-bottom: 3rem;
}

.B1-image-text .icon-subtitle {
    color: var(--black-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.B1-image-text .text {
    max-width: 12.93rem;
}

/* Container C */
.container-C {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    background-blend-mode: normal, color;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    flex: 0;
    margin: 0px;
    background-color: #071629;
}

.container-C .title {
    color: var(--color-white);
    text-align: center;
    font-family: sans-pro;
    font-size: 32px;
    font-weight: 600;
    margin-top: 8.81rem;
}

.container-C .paragraph {
    margin-top: 2.5rem;
    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 39.81rem;
}

.shape-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 3.5rem;
    margin-bottom: 4.93rem;
}

.shape-container .shape {
    margin-left: 2.375rem;
    margin-right: 2.375rem;
}

/* Container D */
.container-D {
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    background-color: var(--color-white);
}

form {
    display: flex;
    flex-direction: column;
    height: 335px;
    width: 373px;
    margin-top: 110px;
    margin-bottom: 130px;
}

.form-title {
    color: var(--black-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.entry-field {
    border-bottom: solid 1px rgba(7, 22, 41, 0.1745);
    padding-bottom: 0.625rem;
    margin-bottom: 2.875rem;

    color: var(--black-font);
    font-family: sans-pro;
    font-size: 14px;
    font-weight: 600;
}


form .button {
    align-self: center;

    width: 162px;
    height: 44px;
    flex-shrink: 0;

    color: var(--white-font);
    text-align: center;
    font-family: sans-pro;
    font-size: 14px;
    font-weight: 700;
    border-radius: 22px;
    background-color: var(--accent-color);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);;
}

form .button:hover {
    opacity: 0.9;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
}

.footer-logo-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; /* cross axis */
    align-content: center; /* line behavior */
    width: 100%;
    margin-top: 5.73rem;
    margin-bottom: 3rem;
}

.social-media:hover {
    color: var(--accent-color);
    opacity: .9;
}

.copyright {
    margin-bottom: 2.43rem;
    color: var(--white-font);
    font-family: sans-pro;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.3517;
}

@media (min-width: 481px) and (max-width: 768px) {
    .title-container .title,
    .title-container .subtitle,
    .title-container .paragraph,
    .container-B .paragraph,
    .container-C .paragraph {
        padding: var(--phone-padding);
    }
}

@media (max-width: 480px) {
    .header-container {
        justify-content: space-around;
        padding-top: .5rem;
    }

    .header-container .logo {
        justify-content: center;
        position: absolute;
    }

    .header-container .hamburger {
        display: flex;
        z-index: -1;
        position: relative;
    }

    .header-container .hamburger:active {
        transition: ease-out;
    }

    .nav-container .nav-element {
        display: none;
    }

    .title-container .title {
        margin-top: 9.5rem;
    }

    .title-container .title,
    .title-container .subtitle,
    .title-container .paragraph,
    .container-B .paragraph,
    .container-C .paragraph {
        padding: var(--phone-padding);
    }

    .title-container .paragraph {
        margin-top: 3rem;
    }

    .shape {
        margin-top: 3.5rem;
    }

    .footer-logo-links {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .footer-logo-links .logo {
        margin-top: 3rem;
    }

    .footer-logo-links .social-media {
        margin-top: 3rem;
    }

    .copyright {
        margin-top: 3rem;
    }
}